body{
    background-image: url("../img/club-hub-banner.jpg");
    background-position: 100%;
    background-color: grey;
}

#header h1{
    font-size: 60px;
    color: white;
    letter-spacing: 10px;
    font-family: "Bahnschrift Light Condensed";
    text-align: center;
}

#navigation{
    display: flex;
    justify-content: center;
}

#navigation div{
    margin: 15px;
} 

.search{
    border: 1px solid white;
    background: rgba(255, 255, 255, 0.9);
    display: inline-block;
    text-align: center;
    width: 280px;
    height: 225px;
    border-radius: 5px;
    position: relative;
}

.search a{
    display: inline-block;
    color: white;
    font-size: 18px;
    border: 1px solid  rgb(0, 162, 255);
    border-radius: 3px;
    background-color: rgb(0, 162, 255);
    text-align: center;
    width: 60px;
    height: 26px;
    text-decoration: none;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-left: -30px;
}

.events{
    border: 1px solid white;
    background: rgba(255, 255, 255, 0.9);
    display: inline-block;
    text-align: center;
    width: 280px;
    height: 225px; 
    border-radius: 5px;   
    position: relative;
}

.events a{
    display: inline-block;
    color: white;
    font-size: 18px;
    border: 1px solid  rgb(0, 162, 255);
    border-radius: 3px;
    background-color: rgb(0, 162, 255);
    text-align: center;
    width: 80px;
    height: 25px;
    text-decoration: none;  
    position: absolute;
    top: 70%;
    left: 50%;
    margin-left: -40px;
}

.other{
    border: 1px solid white;
    background: rgba(255, 255, 255, 0.9);
    display: inline-block;
    text-align: center; 
    width: 280px;
    height: 225px;
    border-radius: 5px;
    position: relative;
}

.other a{
    display: inline-block;
    color: white;
    font-size: 18px;
    border: 1px solid  rgb(0, 162, 255);
    border-radius: 3px;
    background-color: rgb(0, 162, 255);
    text-align: center;
    width: 50px;
    height: 26px;
    text-decoration: none;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-left: -25px;
}